* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.App{
  max-width: 1200px;
  margin: 0 auto;
}

.listings-title{
    text-align: center;
}

.listings-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding-top: 1%;
}

.listing-card {
  max-width: 30%;
}

.listing-card > .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 350px;
  min-height: 280px;
  margin-top: 12%;
  padding: 3%;
  border: none;
  border-radius: 10px;
}

.hover-style:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card > h4 {
    padding-top: 2%;
}

.card > h6 {
    padding: 1% 0 4% 0;
}

.card > p {
    margin-bottom: 1.1%;
}

.favorited {
  font-weight: bold;
}