@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h4,
h6,
p {
  font-family: "Open Sans", sans-serif;
}

.title-container {
  border-radius: 10px;
  background-image: url("https://unsplash.com/photos/hBh9JbyeCtg");
}

.listings-title {
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 38px;
  margin-top: 3%;
}

.listings-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding-top: 1%;
}

.listing-card > .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 350px;
  min-height: 280px;
  margin-top: 12%;
  padding: 3%;
  border: none;
  border-radius: 10px;
  background-color: #b9d2ec40;
}

.hover-style:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card > h4 {
  padding-top: 2%;
}

.card > h6 {
  padding: 1% 0 4% 0;
}

.card > p {
  margin-bottom: 1.1%;
}

.favorited {
  font-weight: bold;
}
